* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
    }


.banner-01 {

height: 789px;
background-color: #ffff;
display: flex;
flex-direction: column;
flex-wrap: wrap;

}

.menu {

display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: 70%;
justify-content: space-between;
margin-right: 3%;
margin-top: 2%;

}

.menu-item {

color: black;
font-family: sans-serif;
font-weight: bold;

}


.banner-02 {

background-color: white;
display: flex;
flex-direction: row;
flex-wrap: wrap;


}

.meditation-img {

width: 95%;

}

.banner-element {

display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 50%;

}

.banner-title {

margin-top: 37%;
text-align: center;
align-content: center;
align-self: center;
color: #529995;

}

.banner-description {

margin-top: 3%;
width: 85%;
text-align: center;
align-items: center;
align-self: center;
align-content: center;
color: #529995;

}

.chose-class {

height: 1024px;
background-color: #529995;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
align-content: center;
align-items: center;
align-self: center;

}

.chose-class-title {

color: #ffff;
text-align: center;
align-items: center;
align-self: center;
align-content: center;
margin-top: 7%;

}

.chose-class-description {

color: #ffff;
text-align: center;
align-content: center;
width: 50%;
margin-top: 4%;
margin-bottom: 3%;


}

.classes-list {

display: flex;
flex-direction: row;
flex-wrap: wrap;


}

.class-element {

display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 33.3%;


}

.chose-class-subtitle {

color: #ffff;


}

.class-description {

color: #ffff;

}

.our-stats {

background-image: url('../img/our-stats.png');
background-size: cover;
height: 1024px;
display: flex;
flex-direction: column;
flex-wrap: wrap;



}


.our-stats-list {

display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.our-stats-element {

display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 33.3%;
text-align: center;
align-self: center;
align-content: center;
align-items: center;



}

.our-stats-circle {

border-style: solid;
border-color: #529995;
border-radius: 50%;
border-width: 5px;
width: 42%;
height: 200px;


}

.our-stats-number {

text-align: center;
align-content: center;
align-items: center;
align-self: center;
margin-top: 28%;
color: #529995;



}

.our-stats-letter {

text-align: center;
align-self: center;
align-content: center;
align-items: center;
color: #529995;

}

.our-stats-title {

color: #529995;
text-align: center;
align-items: center;
align-self: center;
align-content: center;
margin-top: 12%;


}

.our-stats-description {

color: #529995;
text-align: center;
align-content: center;
align-items: center;
align-self: center;
width: 50%;
margin-top: 2%;
margin-bottom: 15%;

}

.best-instructor {

height: 1024px;
display: flex;
flex-direction: row;
flex-wrap: wrap;


}

.best-instructor-element {

height: 100%;
background-color: #529995;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 50%;
text-align: center;



}

.background-photo {

background-image: url('../img/best-instructor.png');
background-size: cover;
height: 100%;



}

.best-instructor-title {

margin-top: 50%;
color: #ffff;
font-size: 65px;


}

.best-instructor-description {

margin-top: 7%;
color: #ffff;
width: 50%;
text-align: center;
align-self: center;

}

.myButton {
	background-color: #ffff;
	display:inline-block;
	cursor:pointer;
	color: #529995;
	font-family:Arial;
	font-size:17px;
	padding:15px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #529995;
    width: 25%;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-top: 5%;

}
.myButton:hover {
	background-color: #ffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

.new-experience {


height: 1024px;
background-color: #ffff;
display: flex;
flex-direction: row;
flex-wrap: wrap;



}

.new-experience-element {

height: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 50%;


}

.new-experience-photo {

background-image: url(../img/new-experience.png);
background-size: cover;
height: 70%;
width: 70%;
margin-top: 25%;
margin-left: 15%;

}

.new-experience-title {

margin-top: 65%;
color: #529995;
text-align: center;

}

.new-experience-description {

margin-top: 5%;
color: #529995;
text-align: center;
width: 70%;
align-self: center;


}

.button {
	background-color: #529995;
	display:inline-block;
	cursor:pointer;
	color: #ffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffff;
    width: 25%;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-top: 5%;

}
.button:hover {
	background-color: #529995;
}
.button:active {
	position:relative;
	top:1px;
}

.pricing {

height: 1024px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
align-self: center;
align-content: center;
align-items: center;
background-color: #529995;

}

.pricing-title {

color: #ffff;
margin-top: 10%;

}

.pricing-description {

color: #ffff;
margin-top: 3%;
margin-bottom: 7%;
width: 50%;

}

.pricing-list {

display: flex;
flex-direction: row;
flex-wrap: wrap;


}

.pricing-element {

display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 33.3%;
text-align: center;
align-items: center;
align-self: center;
align-content: center;



}

.pricing-background {

background-color: #ffff;
width: 80%;
height: 450px;
text-align: center;
align-items: center;
align-self: center;
align-content: center;

}

.pricing-subtitle {

margin-top: 15%;
color: #529995;


}

.pricing-number {

color: #529995;

}

.pricing-letter {

color: #529995;
width: 90%;
margin-left: 3.4%;
text-align: center;
align-self: center;
align-content: center;
align-items: center;

}



.pricing-button {
	background-color: #529995;
	display:inline-block;
	cursor:pointer;
	color: #ffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffff;
    width: 70%;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin-top: 5%;

}
.pricing-button:hover {
	background-color: #529995;
}
.pricing-button:active {
	position:relative;
	top:1px;
}

.trainer-name {

background-image: url('../img/coach-name.png');
background-size: cover;
height: 1024px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
align-items: center;
align-self: center;
align-content: center;


}

.trainer-photo {

width: 500px;
height: 500px;
margin-top: 5%;

}

.trainer-description {

width: 50%;
text-align: center;
align-items: center;
align-self: center;
align-content: center;
font-size: 30px;
color: #529995;
margin-top: 2%;



}

.trainer-title {

text-align: center;
align-content: center;
align-items: center;
align-self: center;
color: #529995;
font-size: 40px;
margin-top: 5%;

}

.update-form {

height: 590px;
background-color: #529995;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
align-content: center;
align-items: center;
align-self: center;



}

.update-title {

color: #ffff;
margin-top: 7%;
font-size: 30px;


}

.update-description {

color: #ffff;
width: 50%;
text-align: center;
margin-top: 5%;

}

.suscribe {

display: flex;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
align-self: center;
align-content: center;
align-items: center;
margin-top: 7%;


}



.suscribe-input {

background-color: #ffff;
color: #529995;
border-style: none;
height: 56px;
font-size: 25px;


}


.myButton-Suscribe {
	background-color:#ffff;
	border-radius:28px;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	border:1px solid #ffff;
	display:inline-block;
	cursor:pointer;
	color:#529995;
	font-family:Arial;
	font-size:17px;
	padding:17px 55px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}
.myButton-Suscribe:hover {
	background-color:#ffff;
}
.myButton-Suscribe:active {
	position:relative;
	top:1px;
}

footer {

height: 400px;
display: flex;
flex-direction: row;
flex-wrap: wrap;



}

.footer-description {

display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 37%;
margin-left: 3%;


}

.footer-element {

display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-basis: 18%;
margin-left: 2%;

}

.follow-row {

display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.footer-title {

color: #529995;
margin-top: 20%;

}

.footer-letter {

color: #529995;
margin-top: 5%;

}

.footer-about-title {

color: #529995;
margin-top: 37%;

}

.footer-services-title {

color: #529995;
margin-top: 37%;

}

.footer-follow-title {

color: #529995;
margin-top: 37%;

}

.footer-link {

color: #529995;
margin-top: 5%;

}

.social-link {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	           }

.social-icon {

   width: 24px;
   height: 24px;

}

@media screen and (max-width: 1025px) {

.menu {


width: 400px;
margin-left: 57%;


}


.class-photo {

width: 92%;

}

.our-stats-circle {

width: 70%;
	
}






}

@media screen and (max-width: 769px) {

.menu {

margin-left: 44.5%;

}

.our-stats-number {

margin-top: 36%;

}

.best-instructor {

height: 512px;


}


.best-instructor-title {

font-size: 24px;


}


.background-photo {

background-size: contain;
background-repeat: no-repeat;
margin-left: 4.1%;

}

.new-experience {

height: 512px;

}

.new-experience-photo {

background-size: contain;
background-repeat: no-repeat;
height: 100%;
width: 100%;
margin-top: 0%;
margin-left: 0%;

}

.pricing-background {

height: 370px;

}

.pricing-button {

width: 60%;

}


}

@media screen and (max-width: 415px) {

 .banner-02 {

  flex-direction: column;



 }

 .banner-title {

   margin-top: 5% 

 }

 .meditation-img {

  width: 100%;

 }

 .chose-class {

  height: 1900px;

 }

 .classes-list {

 flex-direction: column;

 }

 .chose-class-description {

  width: 87%;

 }

 .class-description {

   width: 87%;
   margin-left: 5%;  


 }

 .class-photo {

 width: 100%;

 }

 .our-stats {

  height: 1200px;

 }

 .our-stats-description {

 width: 87%;

 }

 .our-stats-list {

  flex-direction: column; 

 }

 .our-stats-circle {

  margin-top: 14%;

 }

 .best-instructor {

 height: 1100px;
 flex-direction: column;


 }


 .best-instructor-title {

 margin-top: 30%;

 }

 .best-instructor-description {

  width: 88%;
  margin-left: 3%;

 }

 .background-photo {
	
  background-size: 100% 100%;
  margin-left: 0%;

 

 }

 .new-experience {

  height: 1100px;
  flex-direction: column;

 }

 .new-experience-title {

 margin-top: 25%;

 }

 .new-experience-photo {

 background-size: 100% 100%;


 }

 .pricing {

  height: 1485px;

 }

 .pricing-description {

 width: 90%;

 }

 .pricing-list {

 flex-direction: column;

 }

 .pricing-background {

  margin-bottom: 10%;

 }

 .trainer-name {

  height: 1100px;

 }

 .trainer-description {

  width: 88%;

 }

 .trainer-title {

 width: 90%;
 margin-top: 15%;

 }

 .update-description {

  width: 90%;

 }

 .suscribe {

 flex-direction: column;

 }

 
Hola cacaguates.

}















